:root {
  --brand-primary: #0f172a;
  --brand-accent: #3b82f6;
  --brand-success: #10b981;
  --brand-warning: #f59e0b;
  --brand-error: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: "Plus Jakarta Sans", sans-serif ;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
  border: 2px solid purple;
}

.about-box {
  background-color: var(--brand-primary);
  color: white;
  width: 50%;
  padding: 1rem 0 1rem 2.5rem;
}

.heading4 {
  font-size: 19px;
  margin-bottom: 6rem;
}

.fa-charging-station {
  background-color: rgba(0, 0, 255, 0.891);
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
}

.empower {
  font-size: 3rem;
  width: 70%;
  margin-bottom: 10px;
}

.future {
  color: blue;
}

.nextgen {
  color: rgb(255, 255, 255, 0.5);
  width: 65%;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 1.4rem;
}

.system {
  width: 60%;
  display: flex;
  margin-bottom: 7.3rem;
}

.percent,
.grade {
  background-color: rgba(25, 35, 59, 0.743);
  padding: 15px;
  width: 8.5rem;
  margin-right: 2rem;
  border-radius: 0.6rem;
}

.fa-system {
  font-size: 12px;
}


.systempbold {
  margin-top: 3px;
  font-weight: bold;
}

.systemp  {
  font-size: 11px;
  color: rgb(255, 255, 255,0.3);
}

.signup-box {
  width: 50%;
  padding: 4rem 0 1rem 5rem;
  background-color:  rgba(25, 35, 59, 0.063);
}

.getstarted {
  font-size: 1.5rem;
  margin-bottom: 11px;
}

.signupcreatep {
    font-size: 13px;
    color: rgb(0, 0, 0,0.6);
    width: 60%;
}

.signup-form {
  width: 70%;
  margin-top: 2.5rem;
}

label {
  font-size: 12px;
  color: rgb(0, 0, 0,0.9);
}

.input-icon {
  position: relative;
  width: 80%;
  margin-bottom: 10px;
}
.inputz {
  padding: 10px 40px;
  width: 100%;
  border: 0.5px solid rgba(25, 35, 59, 0.163);
  border-radius: 7px;
  outline: none;
}

.input-icon i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color:rgba(25, 35, 59, 0.363) ;
}

.input-icon i:first-child {
  left: 10px;
}

.fa-eye {
  right: 10px;
  cursor: pointer;  
}

.inputz::placeholder {
  color: rgba(0, 0, 0, 0.37);
}

.termsz {    
    font-size: 12px;
    color: rgb(0, 0, 0,0.6);
}

.check {
  margin-bottom: 30px;
  height: 10px;
  cursor: pointer;
}

.create {
  background-color: black;
  color: rgb(255, 255, 255, 0.9);
  font-size: 11px;
  padding: 12px 40px;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

.create:hover{
  background-color:#1e293b;
}

.already {
    font-size: 11px;
    color: rgb(0, 0, 0,0.6);
    width: 60%;
    text-align: center;
}

.links {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 255,0.8);
}

@media (max-width:900px) {
  .container {
    flex-direction: column;
  }
  .about-box,
  .signup-box {
    width: 100%;
  }
  .signup-box {
    padding: 2rem;
  }
  .signup-form {
    padding: 2rem;
    width: 100%;
  }
  .input-icon {
    width: 100%;
  }
}
